* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     outline: none;
     border: none;
     transition: all .2s linear;
     text-transform: capitalize;
}

html {
     overflow-x: hidden;
}

body {
     background-color: #eee;
}

.Container {
     max-width: 100%;
     margin: 0 auto;
     padding: 3rem 0rem;
}

.title {
     font-size: 3.5rem;
     color: rgb(68, 68, 68);
     margin-bottom: 3rem;
     text-transform: uppercase;
     text-align: center;
}

.product-Container {
     display: flex;
     flex-direction: row;
     gap: 2rem;
     justify-content: center;
     flex-wrap: wrap;
}

.product {
     text-align: center;
     padding: 3rem 2rem;
     background: #fff;
     box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
     outline: .1rem solid #ccc;
     outline-offset: -1.5rem;
     cursor: pointer;
}

.product:hover {
     outline: .2rem solid #222;
     outline-offset: 0rem;
}

.product img {
     height: 200px;
     width: 200px;
}

.product img {
     transform: scale(.9);
}

.product h3 {
     padding: 1rem 0;
     font-size: 1.5rem;
     color: #444;
}

.product .price {
     font-size: 1.6rem;
     color: #444;
}

.product:hover h3 {
     color: #27ae60;
}

.products-preview {
     position: fixed;
     top: 0;
     left: 0;
     min-height: 100vh;
     z-index: 20;
     width: 100%;
     background: rgba(0, 0, 0, .8);
     display: none;
     align-items: center;
     justify-content: center;
}


.preview {
     display: none;
     padding: 2rem;
     text-align: center;
     background: #fff;
     position: relative;
     margin: 2rem;
     width: 25rem;
}

.preview img {
     height: 200px;
     width: 200px;
     transition: all 1s ease;
}


.preview.active {
     display: inline-block;
}

.preview .fa-times {
     position: absolute;
     top: 1rem;
     right: 1.5rem;
     cursor: pointer;
     font-size: 2rem;
}

.preview .fa-times:hover {
     transform: rotate(90deg);
}

.preview .fa-times h3 {
     color: #444;
     padding: .5rem 0;
     font-size: 2.5rem;
}

.preview .stars {
     padding: 1rem 0;
}

.preview .stars i {
     font-size: 1rem;
     color: #27ae60;
}

.preview .stars span {
     color: #999;
}

.preview p {
     line-height: 1.5;
     padding: 1rem 0;
     font-size: 1rem;
     color: #777;
}

.preview .price {
     padding: 1rem 0;
     font-size: 1.9rem;
     color: #27ae60;
}

.preview .buttons {
     display: flex;
     gap: 1.5rem;
     flex-wrap: wrap;
     margin-top: 1rem;
}

.preview .buttons a {
     flex: 1 1 4rem;
     height: 3.5rem;
     padding: 1rem;
     font-size: 1.2rem;
     color: #444;
     border: .1rem solid #444;
     text-decoration: none;
}

.preview .buttons a .cart {
     background: #444;
     color: #fff;
}

.preview .buttons a.cart:hover {
     background: #444;
     color: #fff;
}


.preview .buttons a.buy:hover {
     background: #444;
     color: #fff;
}

.title {
     font-size: 40px;
}

@media screen and (max-width:900px) {

     .title {
          font-size: 20px;
     }
}


@media screen and (max-width:500px) {

     .title {
          font-size: 15px;
     }
}